{
"Status": "{{Status}}",
"PhysicalResourceId": "{{PhysicalResourceId}}",
"StackId": "{{StackId}}",
"RequestId": "{{RequestId}}",
"LogicalResourceId": "{{LogicalResourceId}}",
"Reason": "{{Reason}}"
}