{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "This template creates the cr-get-parameters lambda along with it's role and policy.",
  "Parameters": {
    "GetParametersLambdaArn": {
      "Type": "String",
      "Description": "This should be set to the ARN of the GetParameters lambda."
    },
    "KmsEncryptLambdaArn": {
      "Type": "String",
      "Description": "This should be set to the ARN of the KmsEncrypt lambda."
    },
    "KmsDecryptLambdaArn": {
      "Type": "String",
      "Description": "This should be set to the ARN of the KmsDecrypt lambda."
    },
    "KmsKeyId": {
      "Type": "String",
      "Description": "This should be KMS key ID of the key that will be used to encrypt the values."
    },
    "TestParameterName1": {
      "Type": "String",
      "Default": "cr-get-parameters-test-parameter1",
      "Description": "This should be set to the name of the first test parameter that will be created and read."
    },
    "TestParameterValue1": {
      "Type": "String",
      "Default": "This is the first test value.",
      "Description": "This should be set to the value of the first test parameter that will be created and read."
    },
    "TestParameterName2": {
      "Type": "String",
      "Default": "cr-get-parameters-test-parameter2",
      "Description": "This should be set to the name of the second test parameter that will be created and read."
    },
    "TestParameterValue2": {
      "Type": "String",
      "Default": "This is the second test value.",
      "Description": "This should be set to the value of the second test parameter that will be created and read."
    },
    "TestEncryptParameterName1": {
      "Type": "String",
      "Default": "encrypt-cr-get-parameters-test-parameter1",
      "Description": "This should be set to the name of the first encrypt parameter that will be created and read."
    },
    "TestEncryptParameterName2": {
      "Type": "String",
      "Default": "encrypt-cr-get-parameters-test-parameter2",
      "Description": "This should be set to the name of the first encrypt parameter that will be created and read."
    },
    "TestDecryptParameterName1": {
      "Type": "String",
      "Default": "decrypt-cr-get-parameters-test-parameter1",
      "Description": "This should be set to the name of the first decrypt parameter that will be created and read."
    },
    "TestDecryptParameterName2": {
      "Type": "String",
      "Default": "decrypt-cr-get-parameters-test-parameter2",
      "Description": "This should be set to the name of the first decrypt parameter that will be created and read."
    }
  },
  "Resources": {
    "TestParameter1": {
      "Type": "AWS::SSM::Parameter",
      "Properties": {
        "Name": { "Ref": "TestParameterName1" },
        "Description": "This parameter was created to test the cr-get-parameters custom resource.",
        "Type": "String",
        "Value": { "Ref": "TestParameterValue1" }
      }
    },
    "TestParameter2": {
      "Type": "AWS::SSM::Parameter",
      "Properties": {
        "Name": { "Ref": "TestParameterName2" },
        "Description": "This parameter was created to test the cr-get-parameters custom resource.",
        "Type": "String",
        "Value": { "Ref": "TestParameterValue2" }
      }
    },
    "TestGetParameter": {
      "Type": "Custom::GetParameter",
      "Version": "1.0",
      "DependsOn": ["TestParameter1", "TestParameter2"],
      "Properties": {
        "ServiceToken": { "Ref": "GetParametersLambdaArn" },
        "ParameterNames": [{ "Ref": "TestParameterName1" }, { "Ref": "TestParameterName2" }],
        "ForceUpdate": "Change the text in this property to force an update."
      }
    },
    "TestEchoParameter1": {
      "Type": "AWS::SSM::Parameter",
      "DependsOn": ["TestGetParameter"],
      "Properties": {
        "Name": { "Fn::Sub": "echo-${TestParameterName1}" },
        "Description": "This parameter holds a value taken from the cr-get-parameters custom resource.",
        "Type": "String",
        "Value": {
          "Fn::Join": ["", ["ECHO: ", { "Fn::GetAtt": ["TestGetParameter", { "Ref": "TestParameterName1" }] }]]
        }
      }
    },
    "TestEchoParameter2": {
      "Type": "AWS::SSM::Parameter",
      "DependsOn": ["TestGetParameter"],
      "Properties": {
        "Name": { "Fn::Sub": "echo-${TestParameterName2}" },
        "Description": "This parameter holds a value taken from the cr-get-parameters custom resource.",
        "Type": "String",
        "Value": {
          "Fn::Join": ["", ["ECHO: ", { "Fn::GetAtt": ["TestGetParameter", { "Ref": "TestParameterName2" }] }]]
        }
      }
    },
    "TestKmsEncrypt": {
      "Type": "Custom::KmsEncrypt",
      "Version": "1.0",
      "Properties": {
        "ServiceToken": { "Ref": "KmsEncryptLambdaArn" },
        "KmsKeyId": { "Ref": "KmsKeyId" },
        "Parameters": {
          "encrypt1": { "Ref": "TestParameterValue1" },
          "encrypt2": { "Ref": "TestParameterValue2" }
        },
        "ForceUpdate": "Change the text in this property to force an update."
      }
    },
    "TestEncryptParameter1": {
      "Type": "AWS::SSM::Parameter",
      "DependsOn": ["TestKmsEncrypt"],
      "Properties": {
        "Name": { "Ref": "TestEncryptParameterName1" },
        "Description": "This parameter holds an encrypted value produced by the aws-cr-kms-encrypt custom resource.",
        "Type": "String",
        "Value": { "Fn::GetAtt": ["TestKmsEncrypt", "encrypt1"] }
      }
    },
    "TestEncryptParameter2": {
      "Type": "AWS::SSM::Parameter",
      "DependsOn": ["TestKmsEncrypt"],
      "Properties": {
        "Name": { "Ref": "TestEncryptParameterName2" },
        "Description": "This parameter holds an encrypted value produced by the aws-cr-kms-encrypt custom resource.",
        "Type": "String",
        "Value": { "Fn::GetAtt": ["TestKmsEncrypt", "encrypt2"] }
      }
    },
    "TestEncryptGetParameter": {
      "Type": "Custom::GetParameter",
      "Version": "1.0",
      "DependsOn": ["TestEncryptParameter1", "TestEncryptParameter2"],
      "Properties": {
        "ServiceToken": { "Ref": "GetParametersLambdaArn" },
        "ParameterNames": [{ "Ref": "TestEncryptParameterName1" }, { "Ref": "TestEncryptParameterName2" }],
        "ForceUpdate": "Change the text in this property to force an update."
      }
    },
    "TestKmsDecrypt": {
      "Type": "Custom::KmsEncrypt",
      "Version": "1.0",
      "DependsOn": ["TestEncryptGetParameter"],
      "Properties": {
        "ServiceToken": { "Ref": "KmsDecryptLambdaArn" },
        "Parameters": {
          "decrypt1": { "Fn::GetAtt": ["TestEncryptGetParameter", { "Ref": "TestEncryptParameterName1" }] },
          "decrypt2": { "Fn::GetAtt": ["TestEncryptGetParameter", { "Ref": "TestEncryptParameterName2" }] }
        },
        "ForceUpdate": "Change the text in this property to force an update."
      }
    },
    "TestDecryptParameter1": {
      "Type": "AWS::SSM::Parameter",
      "DependsOn": ["TestKmsDecrypt"],
      "Properties": {
        "Name": { "Ref": "TestDecryptParameterName1" },
        "Description": "This parameter holds a decrypted value produced by the aws-cr-kms-decrypt custom resource.",
        "Type": "String",
        "Value": { "Fn::GetAtt": ["TestKmsDecrypt", "decrypt1"] }
      }
    },
    "TestDecryptParameter2": {
      "Type": "AWS::SSM::Parameter",
      "DependsOn": ["TestKmsDecrypt"],
      "Properties": {
        "Name": { "Ref": "TestDecryptParameterName2" },
        "Description": "This parameter holds a decrypted value produced by the aws-cr-kms-decrypt custom resource.",
        "Type": "String",
        "Value": { "Fn::GetAtt": ["TestKmsDecrypt", "decrypt2"] }
      }
    }
  }
}