{
"Status": "{{Status}}",
"RequestId": "{{RequestId}}",
"StackId": "{{StackId}}",
"LogicalResourceId": "{{LogicalResourceId}}",
"PhysicalResourceId": "{{PhysicalResourceId}}",
"Data" : {
{{#Data}}
    "{{name}}" : "{{value}}"{{^last}},{{/last}}
{{/Data}}
}
}